@import '../../../common/styles/sass/mixins';

.button {
  @include text(13px,13px, 600);
  letter-spacing: 2px;
  width: 210px;
  height: 40px;
  margin: 10px;
  background-color: rgba(0,0,0,0);
  transition: 0.3s ease-out;
  cursor: pointer;
  position: relative;
  border: 4px solid white;
  color: white;

  &:hover {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;

  }
}

@keyframes blink {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}