@import '../../../common/styles/sass/mixins';
@import '../../../common/styles/sass/variables';


.characteristicsBlock {
  @include flex(column, center, center, nowrap);
  color: white;
  width: 200px;
  height: 60px;

  @media screen and (max-width: $mediaWidth) {
    @include flex(row, center, center, wrap);
    width: 140px;
    height: 5px;
  }

  .topTextBlock {
    @include flex(row, space-around, flex-end, nowrap);
    width: 150px;
    height: 50%;
    .topTextContainer {
      @include flex(row, center, flex-end, nowrap);
      width: 100%;
      .mainInfo {
        @include flex(row, flex-end, flex-end, nowrap);
        @include text(26px, 26px, 600);
        padding-right: 5px;
      }
      .measurement {
        @include flex(row, flex-start, flex-end, nowrap);
        @include text(18px, 18px, 600);
        padding-left: 5px;
        height: 100%;
      }
    }
  }

  .mainTopTextBlock {
    @include flex(row, center, flex-end, nowrap);
    height: 50%;
    .mainInfo {
      @include flex(row, center, flex-end, nowrap);
      @include text(26px, 26px, 600);
    }
  }

  .bottomText {
    @include text(12px, 12px, 600);
    height: 50%;
  }
}
