@import '../../../common/styles/sass/mixins';


.characteristicsBlock {
  @include flex(column, center, center, nowrap);
  color: white;
  width: 150px;
  height: 60px;

  .topTextBlock {
    @include flex(row, space-around, flex-end, nowrap);
    width: 85px;
    height: 50%;

    .mainInfo {
      @include flex(row, center, flex-end, nowrap);
      @include text(26px, 26px, 600);
    }

    .measurement {
      @include flex(row, flex-start, flex-end, nowrap);
      @include text(18px, 18px, 600);
      padding-left: 10px;
      width: 50%;
      height: 100%;
    }
  }

  .bottomText {
    @include text(12px, 12px, 600);
    height: 50%;
  }
}
