@import '../../../../../common/styles/sass/mixins';

.equipmentBlock {
  width: 100%;

  .title {
    @include text(14px, 14px, 500);
    margin-bottom: 10px;
  }

  .chooseBlock {
    width: 100%;
    margin-bottom: 20px;
  }

  .button {
    @include flex(row, space-evenly, center, wrap);
    width: 100%;
  }
}