@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.headerContainer {
  @include flex(row, flex-end, center, wrap);
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  .logo {
    @include flex(row, flex-start, center, wrap);
    width: 20%;
  }

  .menuContainer {
    @include flex(row, flex-start, center, wrap);
    width: 80%;
    @media screen and (max-width: $mediaWidth) {
      width: 100%;
    }

    .menuBlock {
      @include flex(row, center, center, wrap);
      width: 70%;
      @media screen and (max-width: $mediaWidth) {
        @include flex(row, flex-start, flex-start, wrap);
        width: 65%;
        height: 150%;
      }

      .menuText {
        @include flex(row, cenet, cenet, nowrap);
        @include text(14px, 0, 600);
        margin-right: 10px;
        padding: 15px 15px;
        border-radius: 3px;
        text-decoration: none;
        color: black;
        box-sizing: border-box;
        @media screen and (max-width: $mediaWidth) {
          width: 110px;
        }

        &:hover {
          background-color: rgba(108, 108, 108, 0.2);
        }
      }
    }

    .accountBlock {
      @include flex(row, flex-end, center, nowrap);
      width: 30%;
      height: 150%;

      @media screen and (max-width: $mediaWidth) {
        @include flex(row, flex-start, center, wrap);
        width: 25%;
        height: 150%;
      }

      .accountText {
        @include text(14px, 0, 600);
        margin-right: 10px;
        padding: 15px 15px;
        border-radius: 3px;
        text-decoration: none;
        color: black;

        &:hover {
          background-color: rgba(108, 108, 108, 0.2);
        }
      }
    }

    .close {
      display: none;
      @media screen and (max-width: $mediaWidth) {
        @include flex(column, flex-start, center, wrap);
        width: 10%;
        padding-top: 10px;
        box-sizing: border-box;
        height: 150%;

      }
    }
  }

  .menuButtonBlock {
    @include flex(row, flex-end, center, wrap);
    width: 80%;

    .menuButton {
      @include text(16px, 16px, 500);
      border: 0;
      padding: 8px 13px;
      border-radius: 3px;
      background-color: rgba(108, 108, 108, 0.2);
      cursor: pointer;
      margin-right: 20px;
    }
  }
}