@import '../../common/styles/sass/mixins';


.headerContainer {
  @include flex(row, flex-start, center, wrap);
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;

  .logoBlock {
    @include flex(row, flex-start, center, wrap);
    width: 20%;
    height: 100%;
    padding-left: 40px;
    box-sizing: border-box;

    .logo {
      width: 100px;
    }
  }

  .menuBlock {
    @include flex(row, center, center, wrap);
    width: 60%;
    height: 100%;

    .menuText {
      @include text(14px, 0, 600);
      padding-right: 35px;
      box-sizing: border-box;
    }
  }

  .accountBlock {
    @include flex(row, flex-end, center, wrap);
    width: 20%;
    height: 100%;
    box-sizing: border-box;


    .accountText{
      @include text(14px, 0, 600);
      padding-right: 35px;
      box-sizing: border-box;
    }
  }
}