@import '../../common/styles/sass/mixins';

.headerContainer {
  @include flex(row, flex-start, center, wrap);
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;

  .menuBlock {
    @include flex(row, center, center, wrap);
    width: 60%;
    height: 100%;

    .menuText {
      @include text(14px, 0, 600);
      margin-right: 10px;
      padding: 15px 15px;
      border-radius: 3px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: rgba(108, 108, 108, 0.2);
      }
    }
  }

  .accountBlock {
    @include flex(row, flex-end, center, wrap);
    width: 20%;
    height: 100%;
    box-sizing: border-box;

    .accountText {
      @include text(14px, 0, 600);
      margin-right: 10px;
      padding: 15px 15px;
      border-radius: 3px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: rgba(108, 108, 108, 0.2);
      }
    }
  }
}