@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.menuBlock {
  @include flex(row, center, center, wrap);
  width: 60%;
  height: 100%;

  @media screen and (max-width: $mediaWidth) {
    @include flex(column, flex-start, flex-start, wrap);
    width: 60%;
    height: 150%;
  }

  .menuText {
    @include text(14px, 0, 600);
    margin-right: 10px;
    padding: 15px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: black;


    &:hover {
      background-color: rgba(108, 108, 108, 0.2);
    }
  }
}

.accountBlock {
  @include flex(row, flex-end, center, nowrap);
  width: 20%;
  height: 100%;

  @media screen and (max-width: $mediaWidth) {
    @include flex(row, flex-start, center, wrap);
    width: 30%;
    height: 150%;
  }

  .accountText {
    @include text(14px, 0, 600);
    margin-right: 10px;
    padding: 15px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: rgba(108, 108, 108, 0.2);
    }
  }
}

.close {
  display: none;
  @media screen and (max-width: $mediaWidth) {
    display: unset;
    @include flex(column, flex-start, flex-start, wrap);
    width: 10%;
    padding-top: 10px;
    box-sizing: border-box;
    height: 150%;
  }
}