@import '../../../../../common/styles/sass/mixins';

.comfortContainer {
  .imageBlock {
    @include flex(column, center, center, no-wrap);
    height: 73vh;

    .imageContainer {
      @include background(no-repeat, center, cover);
      width: 94%;
      height: 100%;
      background-color: black;
      transition: background-image 0.5s;
      border-radius: 20px;
    }
  }

  .descriptionBlock {
    @include flex(column, center, center, no-wrap);
    height: 27vh;

    .descriptionContainer {
      @include flex(column, center, flex-start, no-wrap);
      height: 100%;
      width: 45%;

      .buttonsBlock {
        @include flex(row, center, center, no-wrap);

        .buttonOne {
          width: 12px;
          height: 12px;
          background-color: black;
          border-radius: 6px;
          margin-right: 10px;
          cursor: pointer;
        }

        .buttonTwo {
          width: 12px;
          height: 12px;
          background-color: #c5c5c5;
          border-radius: 6px;
          margin-right: 9px;
          cursor: pointer;
        }
      }

      .description {
        margin-top: 10px;
      }
    }
  }
}