@import '../../../../../common/styles/sass/mixins';

.comfortContainer {
  .imageBlock {
    height: 73vh;
    @include flex(column, center, center, no-wrap);
    .imageContainer {
      width: 94%;
      height: 100%;
      border-radius: 20px;
      background-color: black;
      @include background(no-repeat, center, cover);
      transition: background-image 0.5s;
    }
  }
  .descriptionBlock {
    height: 27vh;
    @include flex(column, center, center, no-wrap);
    .descriptionContainer {
      height: 100%;
      width: 45%;
      @include flex(column, center, flex-start, no-wrap);
      .buttonsBlock {
        @include flex(row, center, center, no-wrap);
        .buttonOne {
          width: 12px;
          height: 12px;
          border-radius: 6px;
          background-color: black;
          cursor: pointer;
          margin-right: 10px;
        }
        .buttonTwo {
          width: 12px;
          height: 12px;
          border-radius: 6px;
          background-color: #c5c5c5;
          cursor: pointer;
          margin-right: 9px;
        }
      }
      .description {
        margin-top: 10px;
      }
    }
  }
}