@import '../../../../../common/styles/sass/mixins';
@import '../../../../../common/styles/sass/variables';

.mainContainer {
  .safetyContainer {
    @include flex(row, center, center, no-wrap);
    height: 100vh;
    @media screen and (max-width: $mediaWidth) {
      @include flex(column, center, center, no-wrap);
    }

    .imageBlock {
      @include flex(row, center, center, no-wrap);
      @include background(no-repeat, center, contain);
      position: relative;
      width: 70%;
      height: 100%;
      background-color: #f4f4f4;
      @media screen and (max-width: $mediaWidth) {
        @include flex(row, flex-start, center, no-wrap);
        width: 100%;
      }

      .characteristics {
        @include flex(row, space-between, center, no-wrap);
        width: 50%;
        position: absolute;
        bottom: 8%;
        @media screen and (max-width: $mediaWidth) {
          display: none;
        }
      }

      .pseudoContainer {
        @include pseudo(absolute, '', '', '', 0, 0, '');
        width: 100%;
        height: 100%;
        @media screen and (max-width: $mediaWidth) {
          display: none;
        }

        .firstBlock {
          @include pseudo(absolute, '', '', '', 0, 0, '');
          width: 100%;
          height: 100%;

          .firstPseudo {
            @include text(16px, 28px, 600);
            @include pseudo(absolute, '', '', '', 36.5vh, 22vh, '');
          }

          &::before {
            @include pseudo(absolute, '', 25vh, 3px, 35vh, 24%, black);
          }

          &::after {
            @include pseudo(absolute, '', 5px, 5px, 34.66vh, 48vh, white);
            border: 2px solid black;
            border-radius: 1000%;
          }
        }

        .secondBlock {
          @include pseudo(absolute, '', '', '', 0, 0, '');
          width: 100%;
          height: 100%;

          .secondPseudo {
            @include text(16px, 28px, 600);
            @include pseudo(absolute, '', '', '', 61.5vh, 15vh, '');
          }

          &::before {
            @include pseudo(absolute, '', 15vh, 3px, 60vh, 17%, black);
          }

          &::after {
            @include pseudo(absolute, '', 5px, 5px, 59.6vh, 32vh, white);
            border: 2px solid black;
            border-radius: 1000%;
          }
        }

        .thirdBlock {
          @include pseudo(absolute, '', '', '', 0, 0, '');
          width: 100%;
          height: 100%;

          .thirdPseudo {
            @include text(16px, 28px, 600);
            @include pseudo(absolute, '', '', '', 65vh, 71vh, '');
          }

          &::before {
            @include pseudo(absolute, '', 16vh, 3px, 63.5vh, 57%, black);
          }

          &::after {
            @include pseudo(absolute, '', 5px, 5px, 63.15vh, 56.1vh, white);
            border: 2px solid black;
            border-radius: 1000%;
          }
        }
      }
    }

    .descriptionBlock {
      @include flex(column, space-between, center, no-wrap);
      height: 100%;
      width: 30%;
      @media screen and (max-width: $mediaWidth) {
        width: 100%;
      }

      .textContainer {
        @include flex(column, space-between, center, no-wrap);
        height: 100%;
        width: 80%;

        .text {
          margin-top: 26px;
          width: 100%;

          .titleBlock {
            .subtitle {
              @include text(20px, 28px, 400);
              margin-bottom: 0;
            }

            .title {
              @include text(30px, 28px, 600);
              margin-top: 0;
            }
          }

          .description {
            .paragraph {
              margin-top: 0;
            }

            .paragraphTitle {
              @include text(16px, 28px, 500);
            }
          }
        }

        .buttonsBlock {
          @include flex(column, space-around, center, no-wrap);
          width: 100%;
          margin-bottom: 35px;
          & button {
            width: 100%;
          }
        }
      }
    }
  }
}
