@import '../../../../common/styles/sass/mixins';
@import '../../../../common/styles/sass/variables';


.bestSellersContainer {
  @include flex(column, center, flex-start, nowrap);
  width: 100%;
  height: 80vh;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  @media screen and (max-width: $mediaWidth) {
    height: 60vh;
  }


  .title {
    @include text(32px, 32px, 600);
    margin-bottom: 40px;
  }

  .bestSellersBlock {
    @include flex(row, flex-start, center, nowrap);
    position: relative;
    width: 100%;
    overflow: hidden;

    .block {
      width: 55vh;
      height: 55vh;
      margin-right: 20px;
      @media screen and (max-width: $mediaWidth) {
        width: 30vh;
        height: 30vh;
      }
    }

    .subTitle {
      @include text(18px, 18px, 500);
      margin-top: 20px;
    }

    .leftArrow {
      position: absolute;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: rgba(80, 80, 80, 0.4);
      cursor: pointer;

      &:after {
        position: absolute;
        color: white;
        content: '<';
        left: 12px;
        top: 3px;
        font-size: 25px;
      }
    }

    .rightArrow {
      position: absolute;
      right: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: rgba(80, 80, 80, 0.4);
      cursor: pointer;
      &:after {
        position: absolute;
        color: white;
        content: '>';
        right: 12px;
        top: 3px;
        font-size: 25px;
      }
    }
  }


}

