@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.textBlock {
  @include flex(column, center, center, no-wrap);
  height: 35vh;
  @media screen and (max-width: $mediaWidth) {
    height: 60vh;
  }

  .textContainer {
    @include flex(row, center, center, nowrap);
    width: 77%;
    height: 100%;
    @media screen and (max-width: $mediaWidth) {
      @include flex(column, flex-start, flex-start, nowrap);
      width: 80%;
      margin: 0;
      box-sizing: border-box;
    }

    .titleBlock {
      height: 60%;
      width: 40%;
      @media screen and (max-width: $mediaWidth) {
        width: 100%;
        height: 50%;
      }

      .title {
        @include text(30px, 28px, 600);
        margin-top: 0;
      }

      .subtitle {
        @include text(20px, 28px, 400);
        margin-bottom: 0;
      }

      .buttonsBlock {
        @include flex(row, flex-start, center, nowrap);
        width: 100%;
        margin-bottom: 35px;
        @media screen and (max-width: $mediaWidth) {
          @include flex(column, center, center, nowrap);
          margin: 0;
        }

        & button {
          margin-left: 0;
          width: 200px;
        }
      }
    }

    .descriptionBlock {
      height: 60%;
      width: 60%;
      @include flex(column, flex-start, center, no-wrap);
      margin-top: 40px;
      @media screen and (max-width: $mediaWidth) {
        @include flex(column, flex-start, flex-start, no-wrap);
        height: 60%;
        width: 100%;
      }

      .description {
        margin-top: 0;
        @media screen and (max-width: $mediaWidth) {
          padding: 10px;
          box-sizing: border-box;
        }
      }
    }
  }
}