@import '../../styles/sass/mixins';

.textBlock {
  height: 35vh;
  @include flex(column, center, center, no-wrap);
  .textContainer {
    @include flex(row, center, center, no-wrap);
    width: 77%;
    height: 100%;
    .titleBlock {
      height: 60%;
      width: 40%;
      .title {
        @include text(30px, 28px, 600);
        margin-top: 0;
      }
      .subtitle {
        @include text(20px, 28px, 400);
        margin-bottom: 0;
      }
      .buttonsBlock {
        width: 100%;
        margin-bottom: 35px;
        @include flex(row, center, center, no-wrap);
        & button {
          margin-left: 0;
        }
      }
    }
    .descriptionBlock {
      height: 60%;
      width: 60%;
      margin-left: 10px;
      @include flex(column, flex-start, center, no-wrap);
      margin-top: 40px;

      .description {
        margin-top: 0;
      }
    }
  }
}