@import '../../../../../../common/styles/sass/mixins';
@import '../../../../../../common/styles/sass/variables';

.displaysContainer {
  @include flex(column, center, center, wrap);
  height: 115vh;

  @media screen and (max-width: $mediaWidth) {
    height: 80vh;
    background-color: black;
  }
}