@import '../../../common/styles/sass/mixins';
@import '../../../common/styles/sass/variables';


.logoBlock {
  @include flex(row, flex-start, center, nowrap);
  height: 100%;
  width: 100vh;

  .logo {
    width: 100px;
  }
}