@import '../../../common/styles/sass/mixins';
@import '../../../common/styles/sass/variables';


.logoBlock {
  @include flex(row, flex-start, center, nowrap);
  height: 100%;
  width: 100vh;
  padding-left: 50px;
  @media screen and (max-width: $mediaWidth) {
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%;
  }

  .logo {
    width: 100px;
  }
}