@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.carContainer {
  @include flex(column, center, center, wrap);
  @include background(no-repeat, center, cover);
  width: 100%;
  height: 100vh;

  .carBlock {
    @include flex(column, center, center, wrap);
    width: 90%;
    height: 75%;
    padding-top: 60px;
    @media screen and (max-width: $mediaWidth) {
      padding-top: 0;
    }

    .titleBlock {
      @include flex(column, flex-start, center, wrap);
      width: 100%;
      height: 50%;
      color: white;

      @media screen and (max-width: $mediaWidth) {
        height: 60%;
      }

      .description {
        @include text(38px, 28px, 700);
        padding: 0;
        margin: 0;

        @media screen and (max-width: $mediaWidth) {
          margin-top: 20px;
        }
      }

      .conditions {
        @include text(20px, 18px, 400);
      }

      .demoDrive {
        @include text(20px, 40px, 500);
        color: rgba(255, 255, 255, 0.75);
        position: relative;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
        text-decoration: none;
        margin-top: 17px;

        &::before {
          @include pseudo(absolute, '', 1px, 210px, 106px, '', rgba(255, 255, 255, 0.75));
          bottom: 0;
          transform: translate(-50%, 50%);
          transition: 0.2s ease-in-out;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);

          &::before {
            height: 2px;
            bottom: -1px;
          }
        }
      }

      .virtualConsultation {
        @include text(20px, 25px, 500);
        color: rgba(255, 255, 255, 0.75);
        position: relative;
        transition: color 0.2s ease-in-out;
        cursor: pointer;

        &::before {
          @include pseudo(absolute, '', 1px, 284px, 143px, '', rgba(255, 255, 255, 0.75));
          bottom: 0;
          transform: translate(-50%, 50%);
          transition: 0.2s ease-in-out;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);

          &::before {
            height: 2px;
            bottom: -1px;
          }
        }
      }

      .demoDriveBlack {
        @include text(20px, 40px, 500);
        color: rgba(0, 0, 0, 0.75);
        position: relative;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
        text-decoration: none;
        margin-top: 17px;

        &::before {
          @include pseudo(absolute, '', 1px, 210px, 106px, '', rgba(0, 0, 0, 0.75));
          bottom: 0;
          transform: translate(-50%, 50%);
          transition: 0.2s ease-in-out;
        }

        &:hover {
          color: rgb(0, 0, 0);

          &::before {
            height: 2px;
            bottom: -1px;
          }
        }
      }
    }

    .bottomBlock {
      @include flex(row, center, flex-end, wrap);
      width: 100%;
      height: 50%;
      //background-color: red;

      @media screen and (max-width: $mediaWidth) {
        @include flex(column, flex-end, center, wrap);
        height: 40%;
      }
    }
  }
}