@import '../../../../common/styles/sass/mixins';
@import '../../../../common/styles/sass/variables';

.mainBlock {
  width: 100%;
  height: 100%;

  @media screen and (max-width: $mediaWidth) {
    @include flex(column, flex-start, flex-start, nowrap);
    width: 90%;

  }

  .titleBlock {
    padding-top: 130px;
    @include flex(row, flex-start, flex-start, nowrap);

    @media screen and (max-width: $mediaWidth) {
      padding-top: 170px;
    }

    .title {
      @include text(35px, 35px, 600);
      margin-top: 0;
      margin-right: 20px;
    }

    .modelSelect {
      @include text(13px, 13px, 500);
      height: 35px;
      margin-right: 20px;
    }
  }

  .contentBlock {
    @include flex(column, flex-start, flex-start, nowrap);
    width: 100%;
    height: 63%;

    .table {
      @include flex(column, flex-start, center, nowrap);
      width: 100%;
      box-shadow:0 0 5px rgba(1,1,1,0.3);
      border-radius: 3px;

      .tableTitles {
        @include flex(row, space-between, center, nowrap);
        width: 100%;
        height: 40px;
        position: relative;

        &::after {
          background-color: rgba(1,1,1,0.1);
          bottom: 0;
          content: "";
          height: 0.5px;
          left: 50%;
          position: absolute;
          transform: translate(-50%,50%);
          width: 97%;
          box-shadow:0 0 5px rgba(1,1,1,0.3);
        }

        .fieldBig {
          @include flex(column, center, flex-start, nowrap);
          @include text(13px, 13px, 500);
          margin-left: 30px;
          width: 210px;
          color: rgba(1,1,1,0.4);

          @media screen and (max-width: $mediaWidth) {
            @include text(10px, 10px, 500);
            width: 220px;
          }
        }
        .fieldSmall {
          @include flex(column, center, flex-start, nowrap);
          @include text(13px, 13px, 500);
          margin-left: 30px;
          width: 70px;
          color: rgba(1,1,1,0.4);

          @media screen and (max-width: $mediaWidth) {
            @include text(10px, 10px, 500);
            width: 220px;
          }
        }

        .fieldDefault {
          @include flex(column, center, flex-start, nowrap);
          @include text(13px, 13px, 500);
          margin-left: 30px;
          width: 140px;
          color: rgba(1,1,1,0.4);

          @media screen and (max-width: $mediaWidth) {
            display: none;
          }
        }
      }

      .tableData {
        @include flex(column, space-between, center, nowrap);
        width: 100%;

        .data {
          @include flex(row, space-between, center, nowrap);
          height: 40px;
          position: relative;
          width: 100%;

          &::after {
            background-color: rgba(1,1,1,0.1);
            bottom: 0;
            content: "";
            height: 0.2px;
            left: 50%;
            position: absolute;
            transform: translate(-50%,50%);
            width: 97%;
            box-shadow:0 0 5px rgba(1,1,1,0.3);
          }

          .dataFieldBig {
            @include flex(column, center, flex-start, nowrap);
            @include text(13px, 13px, 500);
            margin-left: 30px;
            width: 210px;
            color: rgba(1,1,1,0.6);

            @media screen and (max-width: $mediaWidth) {
              @include text(10px, 10px, 500);
              width: 220px;

            }
          }

          .dataFieldDefault {
            @include flex(column, center, flex-start, nowrap);
            @include text(13px, 13px, 500);
            margin-left: 30px;
            width: 140px;
            color: rgba(1,1,1,0.6);

            @media screen and (max-width: $mediaWidth) {
              display: none;
            }
          }

          .dataFieldRegion {
            @include flex(column, center, flex-start, nowrap);
            @include text(13px, 13px, 500);
            margin-left: 30px;
            width: 70px;
            color: rgba(1,1,1,0.6);

            @media screen and (max-width: $mediaWidth) {
              display: none;
            }
          }

          .dataFieldStatus {
            @include flex(column, center, flex-start, nowrap);
            @include text(13px, 13px, 500);
            margin-left: 30px;
            width: 140px;
            color: rgba(1,1,1,0.6);
            cursor: pointer;

            @media screen and (max-width: $mediaWidth) {
              @include text(10px, 10px, 500);
            }
          }
        }
      }
    }

    .paginationBlock {
      @include flex(row, center, center, nowrap);
      @include text(13px, 13px, 500);
      color: rgba(1,1,1,0.4);
      width: 100%;
      height: 20%;

      .selectedPage {
        color: rgba(1,1,1,0.6);
        font-weight: bold;
        margin-right: 5px;
        cursor: pointer;
      }

      .page {
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}
