@import '../../../common/styles/sass/mixins';
@import '../../../common/styles/sass/variables';

.mainBlock {
  @include flex(row, flex-start, center, nowrap);
  width: 100%;
  height: 100vh;

  .navBlock {
    @include flex(column, center, center, nowrap);
    width: 25%;
    height: 100vh;
    @media screen and (max-width: $mediaWidth) {
      width: 20%;
    }

    .navContainer {
      @include flex(column, center, flex-start, nowrap);
      width: 100%;
      height: 100%;

      .buttonBlock {
        @include flex(row, flex-start, center, nowrap);
        margin-left: 60px;
        width: 200px;
        height: 70px;
        cursor: pointer;
        @media screen and (max-width: $mediaWidth) {
          @include flex(row, center, center, nowrap);
          width: 100%;
          margin: 0;
        }

        .icon {
          @include flex(row, center, center, no-wrap);
          width: 40px;
          height: 40px;
          font-size: 22px;
          color: rgba(1,1,1,0.6);
          transition: color 0.3s ease-in-out;
          border-radius: 20px;
        }

        .navButton {
          @include text(20px, 20px, 600);
          padding-left: 13px;
          text-decoration: none;
          color: rgba(1,1,1,0.6);
          margin-top: 0;
          transition: color 0.3s ease-in-out;
          @media screen and (max-width: $mediaWidth) {
            display: none;
          }
        }

        &:hover {
          .navButton,.icon {
            color: rgba(1,1,1,1);
          }
        }
      }
    }
  }

  .contentContainer {
    width: 70%;
    height: 100vh;
    margin-left: 10px;
    @media screen and (max-width: $mediaWidth) {
      @include flex(column, center, flex-start, wrap);
      width: 80%;
      margin-left: 0;
    }
  }
}
