@import '../../../../common/styles/sass/mixins';

.clothesContainer {
  @include flex(row, space-between, center, wrap);
  width: 100%;
  height: 100vh;

  .clothesBlock {
    @include background(no-repeat, center, cover);
    @include flex(column, flex-end, center, wrap);
    width: 33%;
    height: 100vh;
    padding-bottom: 3%;
    box-sizing: border-box;

    .title {
      @include text(26px, 26px, 600);
      text-align: center;
      padding-bottom: 20px;
    }
  }
}