@import '../../../../../common/styles/sass/mixins';


.modificationContainer {
  @include flex(row, center, flex-end, wrap);
  width: 25%;

  .modificationBlock {
    @include flex(column, flex-start, center, wrap);
    width: 80%;
    height: 95%;
    box-sizing: border-box;
  }
}
