@import '../../../../../common/styles/sass/mixins';

.mainContainer {
  .interiorContainer {
    @include background(no-repeat, center, cover);
    @include flex(column, center, flex-end, no-wrap);
    height: 72vh;
    .textContainer {
      width: 20%;
      height: 100%;
      margin-right: 65px;
      @include flex(column, space-around, flex-start, no-wrap);
      & div {
        color: white;
      }
    }
  }
}