@import '../../../../../common/styles/sass/mixins';

.mainContainer {

  .safetyContainer {
    height: 100vh;
    @include flex(row, center, center, no-wrap);
    .imageBlock {
      @include background(no-repeat, center, contain);
      height: 100%;
      width: 72%;
      background-color: #f4f4f4;
    }
    .descriptionBlock {
      height: 100%;
      width: 28%;
      @include flex(column, space-between, center, no-wrap);
      .textContainer {
        @include flex(column, space-between, center, no-wrap);
        height: 100%;
        width: 80%;
        .text {
          margin-top: 26px;
          width: 100%;
          //background-color: pink;
          .titleBlock {
            .subtitle {
              @include text(20px, 28px, 400);
              margin-bottom: 0;
            }
            .title {
              @include text(30px, 28px, 600);
              margin-top: 0;
            }
          }
          .description {
            .paragraph {
              margin-top: 0;
            }
            .paragraphTitle {
              @include text(16px, 28px, 500);
            }
          }
        }
        .buttonsBlock {
          width: 100%;
          margin-bottom: 35px;
          @include flex(column, space-around, center, no-wrap);
          & button {
            width: 100%;
          }
        }
      }
    }
  }
}
