@import '../../../../common/styles/sass/mixins';


.galleryContainer {
  @include flex(row, center, center, wrap);
  width: 75%;
  height: 100%;
  //background-color: red;

  .leftArrowContainer {
    @include flex(row, flex-end, center, wrap);
    width: 5%;
    height: 100%;
    cursor: pointer;

    .leftArrowBlock {
      @include flex(row, center, center, wrap);
      width: 28px;
      height: 28px;
      background-color: #EEEEEE;
      border-radius: 5px;
      border: 0;
    }
  }

  .imageBlock {
    @include flex(row, center, center, wrap);
    @include background(no-repeat, center, cover);
    width: 90%;
    height: 100%;
    background-color: red;
  }

  .rightArrowContainer {
    @include flex(row, flex-start, center, wrap);
    width: 5%;
    height: 100%;
    cursor: pointer;

    .rightArrowBlock {
      @include flex(row, center, center, wrap);
      width: 28px;
      height: 28px;
      background-color: #EEEEEE;
      border-radius: 5px;
      border: 0;
    }
  }
}