@import '../../../../../common/styles/sass/variables';
@import '../../../../../common/styles/sass/mixins';

.salonContainer {
  @include flex(row, center, center, nowrap);
  width: 100%;
  height: 100vh;
  background-color: $backgroundColor;

  .salonBlock {
    @include flex(column, space-between, space-between, nowrap);
    width: 65%;
    height: 100%;
    background-color: $backgroundColor;

  }
}