@import '../../../../../../common/styles/sass/mixins';


.wheelsContainer {
  @include flex(column, center,center, wrap);
  width: 100%;

  .title {
    @include text(30px, 30px, 600);
  }

  .wheelBlock {
    @include flex(row, center, center, wrap);
    width: 100%;
    margin: 15px 0;

    .common {
      @include background(no-repeat, center, cover);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .priceBlock {
    @include flex(row, flex-start, center, wrap);

    .wheelName {
      @include text(16px, 16px, 600);
      margin-right: 10px;
    }

    .wheelPrice {
      @include text(16px, 16px, 400);
    }
  }

  .text {
    @include text(14px, 14px, 400);
    margin: 0;
    margin-bottom: 10px;
  }
}