@import '../../../../../common/styles/sass/mixins';

.mainContainer {
  .specsContainer {
    height: 100vh;
    @include flex(row, center, center, no-wrap);

    .imageBlock {
      @include background(no-repeat, center, contain);
      height: 100%;
      width: 50%;
      background-color: black;
    }

    .specsBlock {
      background-color: black;
      height: 100%;
      width: 50%;
      @include flex(column, space-between, center, no-wrap);
    }
  }
  .buttonsBlock {
    height: 20vh;
    background-color: black;
    @include flex(column, center, center, no-wrap);
    .buttonsContainer {
      @include flex(column, center, center, no-wrap);
      & button {
        margin-top: 0;
        width: 200px;
      }

    }
  }
}
