@import '../../../../../common/styles/sass/mixins';
@import '../../../../../common/styles/sass/variables';

.ElectricContainer {
  @include flex(column, center, center, wrap);
  width: 100%;
  height: 100vh;
  background-color: #eee;

  .ElectricBlock {
    width: 77%;
    height: 100%;

    .text {
      @include flex(column, center, flex-start, nowrap);
      width: 60%;
      height: 20%;
      margin: 0 20px;

      .title {
        @include text(30px, 28px, 600);
        margin-top: 0;
      }

      .description {
        margin-top: 0;
      }
    }

    .image {
      @include flex(column, center, center, nowrap);
      width: 100%;
      height: 55%;

      .imageBlock {
        @include background(no-repeat, center, cover);
        width: 90%;
        height: 100%;
        border-radius: 20px;
        background-size: auto 125%;
      }
    }

    .info {
      @include flex(row, space-between, center, wrap);
      width: 100%;
      height: 25%;

      .firstContainer {
        @include flex(row, flex-end, center, wrap);
        width: 50%;
        height: 80%;
        padding-right: 10px;
        box-sizing: border-box;
        cursor: pointer;

        .firstBlock {
          @include flex(column, space-between, flex-start, wrap);
          width: 80%;
          height: 100%;
          border-top: 5px solid black;

          .text {
            width: 100%;
            height: 60%;

            .title {
              @include text(18px, 18px, 500);
              margin-top: 10px;
              margin-bottom: 15px;
            }

            .description {
              @include text(16px, 16px, 400);
            }
          }

          .characteristics {
            @include flex(row, center, center, nowrap);
            height: 40%;
            width: 100%;
          }
        }
      }

      .secondContainer {
        @include flex(row, flex-start, center, wrap);
        width: 50%;
        height: 80%;
        padding-left: 10px;
        box-sizing: border-box;
        cursor: pointer;

        .secondBlock {
          @include flex(column, space-between, flex-start, wrap);
          width: 80%;
          height: 100%;
          border-top: 5px solid black;

          .text {
            width: 100%;
            height: 60%;

            .title {
              @include text(18px, 18px, 500);
              margin-top: 10px;
              margin-bottom: 15px;
            }

            .description {
              @include text(16px, 16px, 400);
            }
          }


          .characteristics {
            @include flex(row, center, center, nowrap);
            height: 40%;
            width: 100%;
          }
        }
      }
    }
  }
}