@import '../../../../../common/styles/sass/mixins';
@import '../../../../../common/styles/sass/variables';

.electricContainer {
  @include flex(column, center, center, wrap);
  width: 100%;
  height: 100vh;
  background-color: #eee;
  @media screen and (max-width: $mediaWidth) {
    height: 120vh;

  }

  .electricBlock {
    width: 77%;
    height: 100%;
    @media screen and (max-width: $mediaWidth) {
      width: 100%;
    }

    .text {
      @include flex(column, center, flex-start, nowrap);
      width: 60%;
      height: 18%;
      margin: 0 20px;
      @media screen and (max-width: $mediaWidth) {
        width: 90%;
        height: 30%;
        padding: 10px 0;
        box-sizing: border-box;

      }

      .title {
        @include text(30px, 28px, 600);
        margin-top: 0;
      }

      .description {
        margin-top: 0;
        @media screen and (max-width: $mediaWidth) {
          width: 100%;
          padding: 10px 0;
          box-sizing: border-box;
        }
      }
    }

    .image {
      @include flex(column, center, center, nowrap);
      width: 100%;
      height: 55%;
      @media screen and (max-width: $mediaWidth) {
        height: 20%;
      }

      .imageBlock {
        @include background(no-repeat, center, cover);
        width: 90%;
        height: 100%;
        border-radius: 20px;
        background-size: auto 125%;
        @media screen and (max-width: $mediaWidth) {
          width: 100%;
          border-radius: 0;
        }
      }
    }

    .info {
      @include flex(row, space-between, center, wrap);
      width: 100%;
      height: 30%;

      .firstContainer {
        @include flex(row, flex-end, center, wrap);
        width: 50%;
        height: 80%;
        padding-right: 10px;
        box-sizing: border-box;
        cursor: pointer;
        @media screen and (max-width: $mediaWidth) {
          height: 180%;
        }

        .firstBlock {
          @include flex(column, space-between, flex-start, wrap);
          width: 80%;
          height: 100%;
          border-top: 5px solid black;
          @media screen and (max-width: $mediaWidth) {
            @include flex(column, flex-start, flex-start, wrap);
          }

          .text {
            width: 100%;
            height: 60%;
            @media screen and (max-width: $mediaWidth) {
              @include flex(column, flex-start, flex-start, wrap);
              height: 50%;
            }

            .title {
              @include text(18px, 18px, 500);
              margin-top: 10px;
              margin-bottom: 15px;
            }

            .description {
              @include text(16px, 16px, 400);
            }
          }

          .characteristics {
            @include flex(row, center, center, nowrap);
            height: 40%;
            width: 100%;
            @media screen and (max-width: $mediaWidth) {
              @include flex(column, center, center, nowrap);

            }
          }
        }
      }

      .secondContainer {
        @include flex(row, flex-start, center, wrap);
        width: 50%;
        height: 80%;
        padding-left: 10px;
        box-sizing: border-box;
        cursor: pointer;
        @media screen and (max-width: $mediaWidth) {
          height: 180%;
        }

        .secondBlock {
          @include flex(column, flex-start, space-between, wrap);
          width: 80%;
          height: 100%;
          border-top: 5px solid black;
          @media screen and (max-width: $mediaWidth) {
            @include flex(column, flex-start, flex-start, wrap);
          }

          .text {
            width: 100%;
            height: 60%;
            @media screen and (max-width: $mediaWidth) {
              @include flex(column, flex-start, flex-start, wrap);
              height: 50%;
            }

            .title {
              @include text(18px, 18px, 500);
              margin-top: 10px;
              margin-bottom: 15px;
            }

            .description {
              @include text(16px, 16px, 400);
            }
          }


          .characteristics {
            @include flex(row, center, center, nowrap);
            height: 40%;
            width: 100%;
            @media screen and (max-width: $mediaWidth) {
              @include flex(column, center, center, nowrap);

            }
          }
        }
      }
    }
  }
}