@import '../../../../../common/styles/sass/mixins';
@import '../../../../../common/styles/sass/variables';

.mainContainer {
  @include flex(row, center, center, no-wrap);
  height: 78vh;
  @media screen and (max-width: $mediaWidth) {
    @include flex(column, center, center, no-wrap);
  }

  .imageContainer {
    width: 50%;
    height: 100%;
    @include flex(row, flex-end, center, no-wrap);
    @media screen and (max-width: $mediaWidth) {
      @include flex(row, center, center, no-wrap);
      height: 50%;
      width: 100%;
    }

    .image {
      @include background(no-repeat, center, contain);
      width: 90%;
      height: 100%;
      @media screen and (max-width: $mediaWidth) {
        //height: 50%;
      }
    }
  }

  .orderContainer {
    @include flex(column, center, center, no-wrap);
    width: 50%;

    .titleBlock {
      margin-left: 50px;

      .title {
        @include text(32px, 32px, 600);
        margin-bottom: 28px;
      }

      .buttonsBlock {
        @include flex(row, flex-start, center, no-wrap);
        width: 100%;
        @media screen and (max-width: $mediaWidth) {
          @include flex(column, flex-start, center, no-wrap);
        }

        & button {
          width: 200px;
          margin-left: 0;
          margin-right: 25px;
        }
      }
    }
  }
}