@import '../../../../../common/styles/sass/mixins';
@import '../../../../../common/styles/sass/variables';

.mainBlock {
  @include flex(column, center, center, nowrap);
  width: 100%;
  height: 100vh;
  background-color: black;
  @media screen and (max-width: $mediaWidth) {
    height: 50vh;
  }

  .imageContainer {
    width: 70%;
    height: 65%;
    @media screen and (max-width: $mediaWidth) {
      width: 100%;
      height: 40%;
    }

    .image {
      @include background(no-repeat, center, cover);
      width: 100%;
      height: 100%;
    }
  }

  .titleContainer {
    @include flex(column, center, center, nowrap);
    width: 90%;
    height: 16%;
    @media screen and (max-width: $mediaWidth) {
      @include flex(column, center, flex-start, nowrap);
      width: 90%;
      height: 50%;
    }

    .title {
      @include text(25px, 25px, 500);
      width: 65%;
      letter-spacing: 5px;
      color: white;
      text-shadow: 0 0 5px white;

    }

    .description {
      @include text(17px, 19px, 400);
      width: 65%;
      color: white;
      @media screen and (max-width: $mediaWidth) {
        width: 90%;
      }

    }
  }
}