@import '../../../../../common/styles/sass/mixins';

.mainBlock {
  @include flex(column, center, center, no-wrap);
  min-height: 110vh;
  width: 100%;

  .contentContainer {
    @include flex(column, flex-start, center, no-wrap);
    width: 65%;
    height: 100%;

    .titleBlock {
      @include flex(row, flex-start, center, no-wrap);
      width: 100%;

      .title {
        @include text(32px, 32px, 600);
        margin-top: 60px;
        margin-left: 10px;
      }
    }

    .formBlock {
      width: 100%;

      .form {
        width: 700px;
        margin-top: 45px;

        .inputsContainer {
          @include flex(row, space-between, flex-start, wrap);

          .inputBlock {
            @include flex(column, center, flex-start, wrap);
            width: 330px;
            margin-left: 10px;
            margin-bottom: 30px;

            .label {
              @include text(15px, 15px, 500);
              margin-bottom: 10px;
              color: rgba(1,1,1,0.7);
            }

            .error {
              @include text(15px, 15px, 500);
              margin-top: 7px;
              color: #bd1010;
            }

            & input, select {
              @include text(15px, 15px, 600);
              width: 310px;
              height: 40px;
              padding-left: 8px;
              border-radius: 5px;
              border: 0;
              color: rgba(1,1,1,0.7);
              background-color: rgba(0,0,0,0.05);

              &:focus {
                outline: 1px solid rgba(0,0,0,0.2);
              }
            }

            & select {
              width: 318px;
            }
          }
        }

        .descriptionContainer {
          margin-left: 10px;
          margin-top: 20px;

          .description {
            @include text(14px, 14px, 400);
            color: rgba(1,1,1,0.8);
          }
        }

        .submitButton {
          @include text(15px,0, 600);
          width: 318px;
          height: 40px;
          border: 0;
          border-radius: 4px;
          margin: 35px 10px 10px;
          background-color: rgba(22, 63, 246, 0.85);
          color: white;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: rgba(8, 41, 178, 0.85);
          }
        }
      }
    }
  }
}