@import '../../../../common/styles/sass/mixins';

.mainBlock {
  height: 100%;
  width: 100%;
  padding-top: 130px;

  .titleBlock {
    .title {
      @include text(35px, 35px, 600);
      margin-top: 0;
    }
  }

  .contentBlock {
    @include flex(row, space-between, center, no-wrap);
    width: 100%;
    padding-top: 20px;

    .itemBlock {
      @include flex(column, flex-start, flex-start, no-wrap);
      width: 200px;
      height: 100px;

      .itemTitle {
        @include text(16px, 16px, 600);
        color: rgba(1,1,1,0.6);

      }
      .itemDescription {
        @include text(16px, 16px, 600);
        margin-top: 7px;

      }
      .itemButton {
        @include text(16px, 16px, 400);
        margin-top: 10px;
        text-decoration: underline;
      }
    }

  }
}
