body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  font-family: gotham, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "gotham";
  src: url('../src/common/fonts/Gotham-Book.woff') format('woff'),
  url('../src/common/fonts/Gotham-Book.woff2') format('woff2'),
  url('../src/common/fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
}

/*::-webkit-scrollbar {*/
/*  width: auto;*/
/*}*/