@import '../../../../common/styles/sass/mixins';

.button {
  @include text(12px,12px, 600);
  width: 170px;
  height: 37px;
  border-radius: 5px;
  border: 0;
  color: rgb(93, 93, 93);
  background-color: #F4F4F4;
  cursor: pointer;

  &:hover {
    background-color: #bdbdbd;
    transition: background-color 0.4s;
  }
}