@import '../../../../common/styles/sass/mixins';

.carContainer {
  @include flex(column, center, center, wrap);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .carBlock {
    @include flex(column, center, center, wrap);
    width: 90%;
    height: 75%;
    padding-top: 60px;

    .titleBlock {
      @include flex(column, flex-start, center, wrap);
      width: 100%;
      height: 50%;

      .description {
        @include text(38px, 28px, 700);
        padding: 0;
        margin: 0;
      }

      .conditions {
        @include text(20px, 18px, 400);
      }
    }

    .buttonBlock {
      @include flex(row, center, flex-end, wrap);
      width: 100%;
      height: 50%;
    }
  }
}