@mixin text($fontSize, $lineHeight, $fontWeight) {
    //font-family: Raleway, sans-serif;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-wrap: $wrap;
}


@mixin background($repeat, $position, $size) {
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}


