@import '../../../common/styles/sass/mixins';

.button {
  @include text(15px,0, 600);
  width: 210px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255,255,255,1);
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}